In [1]:
import os  
os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages org.apache.spark:spark-streaming-kafka-0-8_2.11:2.0.2 pyspark-shell'  
from pyspark import SparkContext
from pyspark.streaming import StreamingContext  
from pyspark.streaming.kafka import KafkaUtils  
from datetime import datetime

batch_interval = 1
window_length = 12 * batch_interval
frequency = 6 * batch_interval

sc = SparkContext(appName="CTR")
sc.setLogLevel("WARN")
ssc = StreamingContext(sc, batch_interval)

directKafkaStream = KafkaUtils.createDirectStream(ssc, ['topic_click'], {"metadata.broker.list": 'ec2-52-9-120-149.us-west-1.compute.amazonaws.com:9092'})

In [2]:
lines = directKafkaStream.map(lambda x: x[1])

In [3]:
import re
def mk_int(s):
    s = s.strip()
    return int(s) if s else 0
def tuple_sum(a, b):
    return [a[0]+b[0], a[1]+b[1]]
def tuple_minus(a, b):
    return [a[0]-b[0], a[1]-b[1]]

In [4]:
def insert_into_mysql(group_id, clicks, total):
    import MySQLdb
    conn = MySQLdb.connect(host= "52.9.120.149",
                      user="name",
                      passwd="password",
                      db="modatabase")
    
    try:
        x = conn.cursor()
        x.execute("select yn from abonoff;")
        abonoff = 0
        for row in x:
            abonoff = int(row[0])
        if abonoff == 1:
            if group_id == 1:
                x.execute("""INSERT INTO ctr_4 VALUES (%s,%s,%s,%s,%s,%s,%s)""",(datetime.now(), "test", clicks, total, " ", " ", datetime.now()))
            else:
                x.execute("""INSERT INTO ctr_4 VALUES (%s,%s,%s,%s,%s,%s,%s)""",(datetime.now(), "control", clicks, total, " ", " ", datetime.now()))
        else:
            x.execute("""INSERT INTO ctr_4 VALUES (%s,%s,%s,%s,%s,%s,%s)""",(datetime.now(), "control", clicks, total, " ", " ", datetime.now()))
        conn.commit()
        return (str(group_id) + " " + str(abonoff), 100.0 * clicks / total)
    except Exception, e:
        conn.rollback()
        return (str(e), 100.0 * clicks / total)
    conn.close()
    # return ("ctr = ", 100.0 * clicks / total)

In [5]:
# ctr = lines.flatMap(lambda line: [line.split("\t")[-1]]) \
#     .map(lambda click: ("ctr", [mk_int(click), 1])) \
#     .reduceByKeyAndWindow(lambda a, b: tuple_sum(a, b), None, 12, 6) \
#     .flatMap(lambda row: insert_into_mysql(row[1][0], row[1][1]) )
# ctr.pprint()

In [6]:
user_info = sc.textFile("s3n://moyang28/UserInfo.tsv")

In [7]:
# user_info.count()

In [8]:
# user_info = user_info.flatMap(lambda line: line.split("\t")[:])
user_info = user_info.map(lambda line: line.split("\t")[:])
type(user_info)
# user_info.pprint(10)

pyspark.rdd.PipelinedRDD

In [9]:
# user_info.take(10)

In [10]:
# user_info = user_info.map(lambda click: ("ctr", [mk_int(click), 1])) \
#     .reduceByKeyAndWindow(lambda a, b: tuple_sum(a, b), None, 12, 6) \
#     .flatMap(lambda row: insert_into_mysql(row[1][0], row[1][1]) )

In [11]:
# lines = directKafkaStream.map(lambda x: x[0])
# lines.pprint()

In [12]:
ctr = lines.map(lambda line: line.split("\t")) 
# ctr.pprint()

In [13]:
ctr = ctr.map(lambda click: (click[0], mk_int(click[-1]))) 
# ctr.pprint()

In [14]:
ctr = ctr.reduceByKey(lambda a, b: a+b) 
# ctr.pprint()

In [15]:
ctr = ctr.map(lambda kvpair: (mk_int(kvpair[0])%2, (kvpair[1], 1)))
# ctr.pprint()

In [16]:
ctr = ctr.reduceByKeyAndWindow(lambda a, b: tuple_sum(a, b), None, 12, 6)
# ctr.pprint()

In [ ]:
ctr = ctr.flatMap(lambda row: insert_into_mysql(row[0], row[1][0], row[1][1]) )
ctr.pprint()

In [ ]:
ssc.start()  
ssc.awaitTermination()

-------------------------------------------
Time: 2017-09-27 17:38:27
-------------------------------------------
0 1
1.05628707857
1 1
0.956937799043

-------------------------------------------
Time: 2017-09-27 17:38:33
-------------------------------------------
0 1
1.06321123017
1 1
1.08740765336

-------------------------------------------
Time: 2017-09-27 17:38:39
-------------------------------------------
0 1
1.20110192837
1 1
1.19714442614

-------------------------------------------
Time: 2017-09-27 17:38:45
-------------------------------------------
0 1
1.21783088235
1 1
0.942962281509

-------------------------------------------
Time: 2017-09-27 17:38:51
-------------------------------------------
0 1
1.18640444634
1 1
0.93567251462

-------------------------------------------
Time: 2017-09-27 17:38:57
-------------------------------------------
0 1
1.13441780822
1 1
1.08418367347

-------------------------------------------
Time: 2017-09-27 17:39:03
-------------------------------------------
0 1
1.03887758381
1 1
1.04936288682

-------------------------------------------
Time: 2017-09-27 17:39:09
-------------------------------------------
0 1
1.09411514765
1 1
0.953996184015

-------------------------------------------
Time: 2017-09-27 17:39:15
-------------------------------------------
0 1
1.17647058824
1 1
1.03273778788

-------------------------------------------
Time: 2017-09-27 17:39:21
-------------------------------------------
0 1
1.07150010014
1 1
1.18224626791

-------------------------------------------
Time: 2017-09-27 17:39:27
-------------------------------------------
0 1
0.986448784376
1 1
1.10414801552

-------------------------------------------
Time: 2017-09-27 17:39:33
-------------------------------------------
0 1
1.11054508406
1 1
1.09339873288

-------------------------------------------
Time: 2017-09-27 17:39:39
-------------------------------------------
0 1
1.01553166069
1 1
1.18679565174

-------------------------------------------
Time: 2017-09-27 17:39:45
-------------------------------------------
0 1
0.849692352769
1 1
1.12140419308

-------------------------------------------
Time: 2017-09-27 17:39:51
-------------------------------------------
0 1
0.872267896531
1 1
1.08238123873

-------------------------------------------
Time: 2017-09-27 17:39:57
-------------------------------------------
0 1
1.00141614404
1 1
1.02999091184

In [ ]:
ssc.stop()
sc.stop()