In [1]:
import os  
os.environ['PYSPARK_SUBMIT_ARGS'] = '--packages org.apache.spark:spark-streaming-kafka-0-8_2.11:2.0.2 pyspark-shell'  
from pyspark import SparkContext  
from pyspark.streaming import StreamingContext  
from pyspark.streaming.kafka import KafkaUtils  
from datetime import datetime

batch_interval = 1
window_length = 12 * batch_interval
frequency = 6 * batch_interval

sc = SparkContext(appName="CTR")
sc.setLogLevel("WARN")
ssc = StreamingContext(sc, batch_interval)

directKafkaStream = KafkaUtils.createDirectStream(ssc, ['topic_click'], {"metadata.broker.list": 'localhost:9092'})

In [2]:
lines = directKafkaStream.map(lambda x: x[1])

In [3]:
import re
def mk_int(s):
    s = s.strip()
    return int(s) if s else 0
def tuple_sum(a, b):
    return [a[0]+b[0], a[1]+b[1]]

In [5]:
import mysql.connector

In [6]:
import MySQLdb
conn = MySQLdb.connect(host= "localhost",
                  user="root",
                  passwd="I984!i28",
                  db="modatabase")

In [7]:
import MySQLdb
conn = MySQLdb.connect(host= "host",
                  user="uid",
                  passwd="pwd",
                  db="db")

In [8]:
x = conn.cursor()
try:
   x.execute("""INSERT INTO pet VALUES (%s,%s)""",("kelly","mo"))
   conn.commit()
except:
   conn.rollback()

In [9]:
conn.close()

In [10]:
def insert_into_mysql(clicks, total):
    import MySQLdb
    conn = MySQLdb.connect(host= "host",
                      user="uid",
                      passwd="pwd",
                      db="db")
    x = conn.cursor()
    try:
#         x.execute("""INSERT INTO test_ctr VALUES (%s,%s)""",("my_ctr", 100.0 * clicks / total))
        x.execute("""INSERT INTO test_ctr VALUES (%s,%s)""",(datetime.now(), 100.0 * clicks / total))
        conn.commit()
        return ("success ctr = ", 100.0 * clicks / total)
    except Exception, e:
        conn.rollback()
        return (str(e), 100.0 * clicks / total)
    conn.close()
    # return ("ctr = ", 100.0 * clicks / total)

In [11]:
ctr = lines.flatMap(lambda line: [line.split("\t")[-1]]) \
    .map(lambda click: ("ctr", [mk_int(click), 1])) \
    .reduceByKeyAndWindow(lambda a, b: tuple_sum(a, b), None, 12, 6) \
    .flatMap(lambda row: insert_into_mysql(row[1][0], row[1][1]) )
ctr.pprint()

In [ ]:
ssc.start()  
ssc.awaitTermination()

-------------------------------------------
Time: 2017-09-22 21:12:33
-------------------------------------------
success ctr =
0.315962796493

-------------------------------------------
Time: 2017-09-22 21:12:39
-------------------------------------------
success ctr =
0.282996521761

-------------------------------------------
Time: 2017-09-22 21:12:45
-------------------------------------------
success ctr =
0.255959998809

-------------------------------------------
Time: 2017-09-22 21:12:51
-------------------------------------------
success ctr =
0.300747488904

-------------------------------------------
Time: 2017-09-22 21:12:57
-------------------------------------------
success ctr =
0.31880393558

-------------------------------------------
Time: 2017-09-22 21:13:03
-------------------------------------------
success ctr =
0.324142568931

-------------------------------------------
Time: 2017-09-22 21:13:09
-------------------------------------------
success ctr =
0.322281807388

-------------------------------------------
Time: 2017-09-22 21:13:15
-------------------------------------------
success ctr =
0.290709357626

-------------------------------------------
Time: 2017-09-22 21:13:21
-------------------------------------------
success ctr =
0.29020782625

-------------------------------------------
Time: 2017-09-22 21:13:27
-------------------------------------------
success ctr =
0.311962987442

-------------------------------------------
Time: 2017-09-22 21:13:33
-------------------------------------------
success ctr =
0.296026113732

-------------------------------------------
Time: 2017-09-22 21:13:39
-------------------------------------------
success ctr =
0.269146072914

In [ ]:
ssc.stop()
sc.stop()